* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
}

#main {
  width: 626px;
  margin: 64px auto 64px;
}



